{% if page.translated %}
{% assign sw_suffix = page.url %}
{% if page.lang %}
	{% assign sw_prefix = '/' | append: page.lang %}
	{% assign sw_suffix = page.url | remove_first: sw_prefix %}
{% endif %}
{% if sw_suffix == '' %}{% assign sw_suffix = '/' %}{% endif %}
{% assign sw_current = site.data.i18n[page.lang] %}
<details class="localePicker">
	<summary>{{ sw_current.flag | default: '🇬🇧' }} {{ sw_current.lang_name | default: 'English' }}</summary>
	<div class="localePickerList">
		<a href="{{ sw_suffix | relative_url }}" target="_self"{% unless page.lang %} class="current"{% endunless %}>🇬🇧 English</a>
		{% for locale in site.data.i18n %}
		<a href="/{{ locale[0] }}{{ sw_suffix }}" target="_self"{% if page.lang == locale[0] %} class="current"{% endif %}>{{ locale[1].flag }} {{ locale[1].lang_name }}</a>
		{% endfor %}
	</div>
</details>
{% endif %}
